.accordion h3 {
    position   : relative;

    margin     : 0;
    margin-left: 45px;
}

.accordion h3::before {
    position          : absolute;
    top               : 0;
    bottom            : 0;
    left              : -50px;

    width             : auto;
    height            : 100%;

    /*  Here you can set another icon URL:  */
    content           : url('../img/accordion-icon.png');
    /*  Duration of icon rotation:  */
    -webkit-transition: .2s;
    transition        : .2s;
}

.accordion h3.active::before {
    -webkit-transform: rotate(90deg);
    transform        : rotate(90deg);
}
