@font-face {
    font-family: 'Montserrat-Light';
    src: url("../fonts/Montserrat-Light.eot"),
       url("../fonts/Montserrat-Light.otf");
    src: url("../fonts/Montserrat-Light.woff") format("woff"),
       url("../fonts/Montserrat-Light.ttf") format("truetype"),
       url("../fonts/Montserrat-Light.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url("../fonts/Montserrat-SemiBold.eot"),
       url("../fonts/Montserrat-SemiBold.otf");
    src: url("../fonts/Montserrat-SemiBold.woff") format("woff"),
       url("../fonts/Montserrat-SemiBold.ttf") format("truetype"),
       url("../fonts/Montserrat-SemiBold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

html {
    font-size : 75%;
    background: rgb(39, 39, 39);
}

body {
    display          : -webkit-box;
    display          : -ms-flexbox;
    display          : flex;

    width            : 100vw;
    max-width        : 600px;
    height           : 100vh;
    margin           : 0;
    margin-right     : auto;
    margin-left      : auto;
    padding          : 0;

    -webkit-box-align: center;
    -ms-flex-align   : center;
    align-items      : center;
    -ms-flex-wrap    : wrap;
    flex-wrap        : wrap;
}

p {
    font-family: 'Montserrat Light', 'Montserrat-Light', sans-serif;
    font-size  : 2.5rem;
    line-height: 1.3;

    height     : 100%;
    margin     : 0;
    margin-left: 1.5rem;
    padding    : 0;

    color      : rgb(127, 127, 127);
}

.accordion {
    width: 100%;
}

.accordion h3 {
    font-family       : 'Montserrat SemiBold', 'Montserrat-SemiBold', sans-serif;
    font-size         : 3rem;
    font-weight       : bold;

    position          : relative;

    -webkit-box-sizing: border-box;
    box-sizing        : border-box;
    margin            : 0;
    margin-left       : 4.8rem;

    cursor            : pointer;
    -webkit-transition: .15s;
    transition        : .15s;

    color             : rgb(228, 81, 100);
}

.accordion div {
    width      : calc(100% - 50px);
    margin-top : 0;
    margin-left: 50px;
}

@media screen and (max-width: 750px) {
    .accordion {
        width       : 84vw;
        margin-left : auto;
        margin-right: auto;
    }

    p {
        font-size: 1.5rem;

        width    : 70vw;
    }

    .accordion h3 {
        font-size  : 2rem;
    }

    .accordion div {
        margin-left: 20px;
    }
}
